.topbar {
display:flex;
background-color:red;
width:100%;
justify-content:space-between;
padding-right:20px;
padding-left:20px;

}

.topbartext {


display:flex;
color:white;
font-weight: 800;
padding:5px;


}

.topbartextr {

display:flex;
color:white;
font-weight: 800;
padding:5px;



}

.whitetopbar {

display:flex;
flex-direction:column;



}

.LogoandNavbar {

display:flex;
justify-content:space-evenly;
padding:40px;


}

.logo {

    display:flex;
    width:400px;
    height:100px;

}

.searchbar {

    display:flex;
    background-color:antiquewhite;
    width:700px;
    height:50px;
    margin-top:30px;
    justify-content:space-between;
    border: 2px solid lightgray;

}

.searcht {

    display:flex;
    color:gray;


}

.searchbutton {

    display:flex;
    height:100%;
    border:none;
    width:100px;
    text-align:center;
    align-items:center;
    justify-content:center;


}




.rightofsearch {

    display:flex;
    gap:10px; 
    margin-top:15px;



}


.atom {

display:flex;
height:50px;
width:50px;
margin-top:10px;




}

.rightofsearcht {

    display:flex;
    flex-direction:column;
    font-weight:700;

}

.toprightt {

    display:flex;



}

.toprightttwo {

    display:flex;
    margin-top:-10px;



}


.navbar {

    display:flex;
    gap:90px;

}

.itemone {

    display:flex;
    margin-left:23%;
    font-weight:700;
    font-size:20px;


}

.item {


    display:flex;
    font-weight:700;
    font-size:20px;


}


.bigredbox {
    display:flex;
    width:100%;
    background-color:red;
    justify-content:center;
    padding:20px;
    align-items:center;
    gap:30px;


}

.bigredleftt {

    display:flex;
    flex-direction: column;
    color:white;



}

.bigredbigwhitet {

 display:flex;
 font-size:50px;
 margin-top:-50px;





}


.bigredsmallwt {

 display:flex;
 font-size:20px;
 margin-top:0px;


}

.peroxpic {

    display:flex;


}

.bigredimage {

    display:flex;
    width:700px;
    height:700px;

}


.featuredproductsbox {

    display:flex;
    justify-content:center;
    gap:20px;
    background-color:antiquewhite;
    width:100%;
    height:min-content;
    padding:20px;

}

.featuredprodlet {

    display:flex;
    flex-direction:column;
    margin-top:5%;


}


.featuredleftt {

    display:flex;
    font-size:35px;
    font-weight:800;
    margin-top:-30px;


}

.featurebutton {

    display:flex;
    background-color:red;
    color:white;
    width:100px;
    height:40px;
    font-size:15px;
    font-weight:900;
    text-align: center;
    margin-top:-20px;
    align-items:center;



}

.featuresbox {

    display:flex;
    flex-direction:column;
    background-color:white;
    height:min-content;
    width:180px;
    align-self:center;
    border: 2px solid lightgray;



}


.featureimg {

    display:flex;
    width:150px;
    height:150px;
    align-self:center;
    margin-top:10px;
    margin-bottom:15px;



}

.featuretext {

    display:flex;
    margin-top: -10px;
    align-self:center;



}


.shopCatagorybar {

display:flex;
flex-direction:column;



}

.categoryallboxes {

    display:flex;
    justify-content:center;
    gap:40px;



}

.categorybigt {

    display:flex;
    align-self:center;
    font-size:35px;
    font-weight:900;

}


.categorybox {

    display:flex;
    flex-direction:column;
    border:2px solid lightgray;
    padding:10px;


}


.categoryimg {

    display:flex;
    height:150px;
    width:150px;


}

.categoryboxt {

    display:flex;
    align-self:center;
    font-size:20px;


}

.wholespecialbox {

    display:flex;
    width:100%;
    justify-content:center;
    margin-top:40px;

}


.SpecialAnimalsBox {

    display:flex;
    background-color:lightgray;
    width: 70%;
    align-self:center;
    justify-content:space-between;
}


.specialtext {

    display:flex;
    flex-direction:column;


}


.specialbigt {

    display:flex;
    font-size:35px;
    font-weight:900;
    margin-left:50px;


}

.specialbigtwo {

    display:flex;
    font-size:35px;
    font-weight:900;
    margin-top:-20px;
    margin-left:50px;

}

.specialsmallt {

    display:flex;
    margin-top:-10px;
    margin-left:50px;
    font-size:16px;


}

.specialimg {

    display:flex;
    width:400px;
    height:300px;
    margin-right:0px;

}